/* Sidebar.css */

.sidebar {
  background-color: #a68a64; /* Use Tan color for sidebar background */
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  overflow-y: auto;
  margin-top:60px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar button {
  width: 160px;
  padding: 12px 20px;
  background-color: transparent;
  border: none;
  color: #7f4f24; /* Use Medium Brown color for button text */
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.sidebar button:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

.sidebar button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff; /* Use #ffffff for button background */
  z-index: -1;
  border-radius: 30px;
  transition: all 0.3s;
}

.sidebar button:hover:before {
  left: 0;
  top: 0;
  border-radius: 30px;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo"); /* Ensure this matches the SVG filter ID in your HTML */
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #7f4f24; /* Use Medium Brown color for blob */
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
